<form method="post" action="{{ path('blog_article_delete', {'id': blog_article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog_article.id) }}">
    <button class="btn">Delete</button>
</form>
