{% extends 'base.html.twig' %}

{% block title %}New BlogArticle{% endblock %}

{% block body %}
    <h1>Create new BlogArticle</h1>

    {{ include('blog_article/_form.html.twig') }}

    <a href="{{ path('blog_article_index') }}">back to list</a>
{% endblock %}
