body,
html {
  /* background: linear-gradient(to right, #765d69, #8fb9a8); */
  font-family: Roboto Mono;
  height: 100%;
  margin: 0;
  /* background: rgba(164, 176, 190, 1.0); */
  background-color: #ddd !important;
}

* {
  margin: 0;
  padding: 0;
}

.fa-cogs {
  font-size: 20px;
  float: left;
  color: #ddd;
}

.fa-home,
.fa-sign-in-alt,
.fa-images,
.fa-users,
.fa-blog,
.fa-file-alt,
.fa-home {
  position: relative;
  top: 1px;
  margin-right: 10px;
  font-size: 25px;
}

/* -- Menu Icon -- */

#menu-toggle {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 10px;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

li:first-of-type {
  margin-top: 25%;
}

/*-- The Magic --*/
#menu-toggle:checked ~ .slideout-sidebar {
  left: 0px;
}

#menu-toggle:checked + .menu-icon {
  left: 210px;
}

#menu-toggle:checked ~ .content-container {
  padding-left: 190px;
}

/* -- Slideout Sidebar -- */

.slideout-sidebar {
  position: fixed;
  top: 0;
  left: -190px;
  z-index: 1;
  width: 150px;
  height: 100%;
  padding: 20px;
  background-color: #212121;
  transition: all 75ms ease-in-out;
  box-sizing: content-box !important;
}

.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  cursor: pointer;
  padding: 18px 0;
  border-bottom: 1px solid rgba(244, 244, 244, 0.4) !important;
  color: rgba(244, 244, 244, 0.7) !important;
}

.slideout-sidebar ul li:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li:hover {
  color: rgba(244, 244, 244, 1) !important;
}

/* Icon Fade */
.hvr-icon-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-fade .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}
.hvr-icon-fade:hover .hvr-icon,
.hvr-icon-fade:focus .hvr-icon,
.hvr-icon-fade:active .hvr-icon {
  color: #ddd !important;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*
a {
  color: #ddd !important;
  text-decoration: none;
}
*/

a:hover {
  color: yellow !important;
}

ul li:last-child {
  position: absolute;
  /* left: 0; */
  bottom: 40px;
}

#avatar {
  width: 70px;
  height: 70px;
  float: right;
  margin: 5px;
  border: 2px #ddd solid;
  padding: 1px;
  background: #ddd;
  border-radius: 5%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#avatar:hover {
  -webkit-filter: brightness(0.25);
}

#baseContent {
}

#content {
  padding: 25px;
}

#welcome {
  text-align: center;
  margin: auto;
  color: #ddd;
  padding: 15px;
}

#date {
  color: #ddd;
  padding: 0 40px 0 40px;
  font-size: 12px;
}

header {
  height: 80px;
  background: #212121;
}

footer {
  position: fixed;
  width: 100%;
	bottom: 0;
  height: 36px;
  background: #212121;
  float: right;
}

small em {
  color: white;
  padding: 15px;
  margin-top: 20px;
}

h1,
h2 {
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
}

h1 {
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

article {
  margin-top: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

li:first-of-type {
  margin-top: 30px;
}

/* Animation du Logo */

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.jackInTheBox {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  animation-duration: 1.5s;
  margin-top: 30px;
}

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.imagePrincipale {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  animation-duration: 1s;
  margin-top: 20px;
}


