   body {
       margin: 0px;
       font-family: 'Roboto Condensed',
           sans-serif;
   }

   img {
       display: block;
   }

   h1 {
       font-size: 1.2rem;
       font-family: 'PT Sans Narrow',
           sans-serif;
       margin: 1px;
       text-align: left;
       text-transform: uppercase;
   }

   h1 span {
       font-size: 1.2rem;
       font-family: 'Roboto Condensed', sans-serif;
       text-transform: uppercase;
       font-family: 'PT Sans Narrow',
           sans-serif;
   }

   h5 {
       font-family: 'PT Sans Narrow',
           sans-serif;
   }

   h6 {
       font-size: 0.9rem;
       color: #cccccc;
       font-family: 'Roboto Condensed', sans-serif;
       text-align: center;
       font-family: 'PT Sans Narrow', sans-serif;

   }

   p {
       font-size: 0.9rem;
       font-family: 'Roboto Condensed', sans-serif;
       color: #555555;
   }

   nav {
       padding: 20px;
   }

   nav a {
       color: #cccccc;
       font-family: 'Roboto Condensed', sans-serif;
       font-size: 1rem;
       margin: 0 0px;
       font-family: 'PT Sans Narrow', sans-serif;
       letter-spacing: 1px;
       transition: all 0.3s ease-in;
   }


   nav a:hover {
       color: #cccccc;
       text-decoration: none;

   }

   nav a:after {
       content: " . ";
       font-size: 1rem;
       margin-left: 0px;
       color: #555555;
       font-weight: bold;
   }

   nav a:last-child:after {
       content: "  ";
       display: none;
   }



   .header-2 {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       background: rgba(2, 2, 2, 0.8);

       border: 0px solid #cccccc;
       border-bottom-width: 1px;
       z-index: 999999999999999999999;
       display: flex;
       justify-content: space-between;
   }

   header {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       background: rgba(2, 2, 2, 1);

       border: 0px solid #cccccc;
       border-bottom-width: 1px;
       z-index: 999999999999999999999;
       display: flex;
       justify-content: space-between;
   }

   footer {
       margin-top: 30px;
       border: 0px solid #cccccc;
       border-top-width: 1px;
       padding: 10px 10px 10px;
       position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
       background: #ffffff;
       background: #323232;

   }

   main {
       padding: 65px 0 0;
   }

   /************  PAGE ARTISTE  ***********************/

   .header-img {
       background-size: cover;
       height: 290px;
       background-repeat: no-repeat;
       background-position: center center;
       margin: 0;
       border: 0px solid #555555;
       border-bottom-width: 1px;
       border-top-width: 1px;
   }

   /* Flou 
   .blur div img {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
   }

   .blur div:hover img {
       -webkit-filter: blur(0);
       filter: blur(0);
   }
*/
   .artiste h1 {
       font-size: 1.4rem;
       margin: -40px 0 80px 0;
       padding-left: 18%;
   }

   .artiste h1 span {
       display: block;
       font-size: 1rem;
       color: #cccccc;
   }

   .avatar {
       background: #000000;
       border: 2px solid #555555;
       border-radius: 5px;
       width: 230px;
       height: 230px;
       margin: 50px 0 0 0;
       position: absolute;
       top: 150px;
       left: 7%;
       -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.);
       -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.);
       -o-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.);
       box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.);
       filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.), Direction=13, Strength=8);
       overflow: hidden;


   }

   .avatar img {
       width: 230px;

       border-radius: 5px;
       height: 230px;
       object-fit: cover;
       opacity: 0.95;
       -webkit-transform: scale(1.3);
       transform: scale(1.3);
       -webkit-transition: .5s ease-in-out;
       transition: .5s ease-in-out;



   }

   .avatar img:hover {
       -webkit-transform: scale(1.5);
       transform: scale(1.5);
   }

   /************* FORM *********************/

   form,
   table {
       margin: 0px 0 0 0;
       padding: 30px 10%;
   }

   input {
       margin: 0 0 20px 0;
   }

   .message-form {
       color: red;
   }

   /*********** BACK TO TOP ************/
   .back-to-top {
       padding: 7px 14px;
       position: fixed;
       bottom: 4.5%;
       right: 2%;
       z-index: 99999;
       border: 1px solid #cccccc;
       background: rgba(0, 0, 0, 0.2);
   }

   .back-to-top i {
       color: rgba(255, 255, 255, 0.5);
       font-size: 2.5rem;
   }

   .back-to-top i:hover {
       color: #000000;

       opacity: 1;
   }


   /* *********** NEWSLETTER ***********  */

   .inscription-newsletter h5 {
       color: #cccccc;
       font-weight: 600;
       letter-spacing: 0.5px;
   }

   .inscription-newsletter input {
       opacity: 0.8;
       margin: 20px 0 0;
       border-radius: 0;
       height: 50px;
   }

   .inscription-newsletter button {
       opacity: 0.8;
       margin: 20px 0 0;
       float: right;
       border-radius: 0;
   }

   .inscription-newsletter {
       padding: 0;
       margin: 0;
       background-image: url("../img/upload/1.jpeg");
       border: 0px solid #000000;
       border-top-width: 3px;
       clear: both;
   }

   .inscription-newsletter article {
       padding: 70px 10% 150px;
       background: rgba(0, 0, 0, 0.85);
   }

   .inscription-newsletter article form {
       padding: 0;

   }

   /* ************** IFRAME  ************** */

   .map {
       width: 100%;
       margin: 0 auto;
   }

   iframe {
       width: 100%;
       margin: 0 auto;
       height: 450px;
   }



   @media only screen and (max-width: 800px) {

       nav {
           display: none;
       }

       a img {

           object-fit: cover;

           width: 100%;
           height: auto;

       }

       .overlay {
           width: 100%;
           transition: all 0.s ease-in;
       }

       /************  PAGE ARTISTE 800px ***********************/

       .artiste h1 {
           font-size: 1.5rem;
           margin: -40px 0 60px 0;
           padding-left: 0;
           text-align: center;
       }

       .artiste h1 span {
           font-size: 1.2rem;

       }

       .header-img {

           height: 230px;
           background-repeat: no-repeat;
           background-position: center center;
           margin: 0 0 70px 0;

       }

       .avatar {
           width: 200px;
           height: 200px;
           margin: 50px auto;
           position: relative;
           top: 0px;
           left: 0;

       }

       .avatar img {
           width: 200px;
           height: 200px;

       }

   }