{% extends 'base.html.twig' %}

{% block title %}Modifier la galerie{% endblock %}

{% block body %}
    <h1>Modifier la galerie</h1>

    {{ include('gallery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gallery_index') }}">Retour à la liste</a>

    {{ include('gallery/_delete_form.html.twig') }}
{% endblock %}
