{% extends 'base.html.twig' %}
{% block title %}Nouvelle image{% endblock %}
{% block body %}
    <h1 style="color:RGB(229, 179, 0)">Enregistrer une image dans la galerie</h1>
    {{ include('gallery/_form.html.twig') }}
    <a class="btn btn-primary" style="margin-top:10em" href="{{ path('adminGalerie') }}">Retour à la liste</a>
{% endblock %}