{% extends 'base-front.html.twig' %}

{% block header %}


   {{ parent() }}

{% endblock %}


{% block body %}



 
   <section class="general-galery">
 
            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>

            <a href="assets/img/upload/1.jpeg" data-lightbox="roadtrip" data-title=" par Auteur - <span class='like'>click to <i class='fas fa-heart'></i>3</span>">
            <div class="overlay">
            <img src="assets/img/upload/1.jpeg">
            </div>
           

       
    </section>
            



{% endblock %}
