{% extends 'base-front.html.twig' %}

{% block header %}


   {{ parent() }}

{% endblock %}


{% block body %}



  {% for toto in gallerys %}
   <section class="general-galery">
           
            <a href="{{toto.urlImgOriginal}}" data-lightbox="roadtrip" data-title=" Titre de l'image par Auteur">
            <div class="overlay">
            <img src="{{toto.urlImgOriginal}}" data-index-id={{toto.id}}
        >
            </div>

       
    </section>
            
 {% endfor  %}

{% endblock %}